@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All users entering data here should be aware that their data may be sold to 3rd parties.<br />
    It's nothing to do with me though, take it up with Microsoft and Azure</p>
